{{extend 'layout.html'}}

{{block head}}
<link rel="shortcut icon" href="../../static/images/favicon.ico">
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Thumbs callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // Score callback
    var get_score_url = "{{=URL('api', 'get_score')}}"

    var is_logged_in = {{='false' if auth.user is None else 'true'}};

</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <!-- IF USER IS NOT LOGGED IN -> SHOW LOGIN FORM -->
        <div v-if="!is_logged_in">
            <div class="container onboard">
                <div class="container third" style="text-align: right;">
                    <img src="{{=URL('static', 'images', args='Logo.png')}}" />
                    <div class="half" style="padding-right: 0px">
                        <h2 class="logo">
                            Research <br>Connect
                        </h2>
                    </div>
                </div>
                <div class="third container">
                    <div class="divider">
                    </div>
                    <div class="onboard_form threequarters">
                        <div v-if="!showing_sign_up_form" id="web2py_user_form" class="col-lg-6 login" style="padding-left: 20px;">
                            {{form=auth.login()}}
                            {{=form.custom.begin}}
                            <label>
                                <span><i class="fa fa-envelope-o"></i></span>
                                {{form.custom.widget.email['_placeholder'] = 'Email'}}
                                {{=form.custom.widget.email}}
                            </label>
                            <span><i class="fa fa-lock"></i></span>
                            {{form.custom.widget.password['_placeholder'] = 'Password'}}
                            {{=form.custom.widget.password}}
                            <button class="connect">Connect</button>
                            {{=form.custom.end}}
                            <a class="link" id="show_signup_form" v-on:click="show_sign_up()">Sign Up</a>
                        </div>

                        <div v-if="showing_sign_up_form" >
                            <div class="signup_form_container" ></div>
                            <div id="web2py_signup_form" class="centered login">
                                {{form=auth.register()}}
                                {{=form.custom.begin}}
                                {{form.custom.widget.first_name['_placeholder'] = 'First name'}}
                                {{=form.custom.widget.first_name}}
                                {{form.custom.widget.last_name['_placeholder'] = 'Last name'}}
                                {{=form.custom.widget.last_name}}
                                {{form.custom.widget.email['_placeholder'] = 'Email'}}
                                {{=form.custom.widget.email}}
                                {{form.custom.widget.password['_placeholder'] = 'Password'}}
                                {{=form.custom.widget.password}}
                                {{form.custom.widget.password_two['_placeholder'] = 'Repeat Password'}}
                                {{=form.custom.widget.password_two}}
                                <button class="connect">Sign up</button>
                                {{=form.custom.end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END IF USER IS NOT LOGGED IN -> SHOW LOGIN FORM -->
    </div>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>