{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Thumbs callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // Score callback
    var get_score_url = "{{=URL('api', 'get_score')}}"

    var is_logged_in = {{='false' if auth.user is None else 'true'}};

</script>
{{end}}

<div class="col-8 offset-2">
    <div id="vue-div" class="display:none">
        <!-- ELSE SHOW HOME PAGE -->
        <div v-if="is_logged_in" v-cloak>
            <div id="add_post" style="display:none">
                <div class="container form_row">
                    <div class="label quarter">
                        Title:
                    </div>
                    <div class="form threequarters">
                        <input v-model="form_title" placeholder="Enter the post title"/>
                    </div>
                </div>
                <div class="container form_row">
                    <div class="label quarter">
                        Content:
                    </div>
                    <div class="form threequarters">
                        <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
                    </div>
                </div>
                <div class="container form_row">
                    <div class="quarter"></div>
                    <div class="threequarters">
                        <div class="submit">
                            <button id="add-post" v-on:click="add_post">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <button v-if="is_logged_in" id="toggle_form_button" v-on:click="toggle_form">Add post <i
                    class="fa fa-plus-circle"></i></button>
            <!-- Message in case there are no posts. -->
            <div v-if="post_list.length === 0">There are no posts.</div>

            <!-- We display the posts. -->
            <div id="post_list">
                <div class="post_div" v-for="post in post_list">
                    <div class="section-header">
                        <span class="section-header__title post_title">${post.post_title}</span>
                    </div>
                    <!-- Code for Thumbs. -->
                <div class="section-header">
                    <div class="section-header__container">
                        <div v-if="is_logged_in">
              <span class="thumbs-up"
                    v-on:mouseover="thumb_up_mouseover(post._idx)"
                    v-on:mouseout="thumb_up_mouseout(post._idx)"
                    v-on:click="thumbs_up_click(post._idx)">
                <i class="fa "
                   v-bind:class="{changed: post._over_up  && !(post._thumb === 'u'), 'fa-thumbs-o-up': ((!post._over_up && post._thumb !== 'u') || post._over_down), 'fa-thumbs-up': !((!post._over_up && post._thumb !== 'u') || post._over_down)}"></i>
              </span>
                            <div class="thumbs_count">${post._score}</div>
                            <span class="thumbs-down"
                                  v-on:mouseover="thumb_down_mouseover(post._idx)"
                                  v-on:mouseout="thumb_down_mouseout(post._idx)"
                                  v-on:click="thumbs_down_click(post._idx)">
                <i class="fa "
                   v-bind:class="{changed: post._over_down && !(post._thumb === 'd'), 'fa-thumbs-o-down': ((!post._over_down && post._thumb !== 'd') || post._over_up), 'fa-thumbs-down': !((!post._over_down && post._thumb !== 'd') || post._over_up)}"></i>
              </span>
                        </div>

                    </div>
                </div>
                <!-- END Code for Thumbs. -->
                    <div class="post_content">${post.post_content}</div>
                    <div class="attributes">

                        

                    </div>
                </div>
            </div>
        </div>
        <!-- END ELSE SHOW HOME PAGE -->
    </div>

</div>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
    