{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'tagsinput/bootstrap-tagsinput.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Thumbs callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // Score callback
    var get_score_url = "{{=URL('api', 'get_score')}}"

    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    var is_professor = {{='true' if auth.has_membership(role='professor') else 'false'}};


</script>
 <link rel="stylesheet" type="text/css" href="{{=URL('static', 'tagsinput/bootstrap-tagsinput.css')}}">
<style>
  [v-cloak] {
    display: none;
  }
</style>
{{end}}
{{ rows = db().select(db.department.ALL) }}
<div class="col-8 offset-2">
    <div id="vue-div" class="display:none" v-cloak>
        <!-- ELSE SHOW HOME PAGE -->
        <div v-if="is_logged_in">
            <div id="add_post" style="display:none">
                <div class="container form_row">
                    <div class="label quarter">
                        Title:
                    </div>
                    <div class="form threequarters">
                        <input v-model="form_title" class="form-control" placeholder="Enter the post title"/>
                    </div>
                </div>
                <div class="container form_row">
                    <div class="label quarter">
                        Content:
                    </div>
                    <div class="form threequarters">
                        <textarea class="form-control" v-model="form_content" placeholder="Enter the content of your post"></textarea>
                    </div>
                </div>
                <div class="container form_row">
                    <div class="label quarter">
                        Department:
                    </div>
                    <div class="form threequarters">
                        <select class="form-control" v-model="form_department" id="exampleFormControlSelect1">
                          {{if len(rows):}}
                            {{ for r in rows: }}
                               <option>{{=r.department_name}}</option>
                            {{pass}}
                            {{pass}}
                        </select>
                    </div>
                </div>
                <div id="tags_container" class="container form_row">

                </div>
                <div class="container form_row">
                    <div class="quarter"></div>
                    <div class="threequarters">
                        <div class="submit">
                            <button id="add-post" v-on:click="add_post">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <button v-if="is_professor" id="toggle_form_button" v-on:click="toggle_form">Add post <i
                    class="fa fa-plus-circle"></i></button>
            <!-- Message in case there are no posts. -->
            <div v-cloak>
            <div v-if="post_list.length === 0">There are no posts.</div>
            </div>
            <!-- We display the posts. -->
            <div class = "row" id="post_list">
                <div class="col-4 mt-5" v-for="(post, index) in post_list.slice(0, 15)">
                    <a v-bind:href="'research/' + post.id" style = "text-decoration: none;">
                        <div class = "card text-justify">
                            <div class = "card-img-top">
                                <div class = "circle justify-content-center">
                                <img class = "post-icon" src="{{=URL('static','images/defaultPost.png')}}" alt="">
                                </div>
                            </div> 
                            <div class = "card-body">
                                <h5 class="card-title text-center">
                                    ${post.post_title}
                                </h5>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item">${post.post_content}</li>
                                <li class="list-group-item">${post.post_department}</li>
                                <li class="list-group-item">${post.post_tags}</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END ELSE SHOW HOME PAGE -->
    </div>
</div>

    