{{extend 'layout.html'}}

{{block head}}
<link rel="shortcut icon" href="../../static/images/favicon.ico">
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var resume_post_url = "{{=URL('api', 'post_resume', user_signature=True)}}"
  var resume_get_url = "{{=URL('api', 'get_resume')}}"



  var is_logged_in = {{='false' if auth.user is None else 'true'}};
  var user_email = "{{= None if auth.user is None else auth.user.email}}";

</script>
{{end}}

<div class="box">
    <div id="overlay">
      <div class="image">
        <div class="trick">

        </div>
      </div>
      <ul class="text">{{=user.first_name + " " + user.last_name}}</ul>
      <div class="text1">Computer Science B.S.</div>


<div id="vue-div" class="display:none">
  <input id="file_input" type="file" v-on:change="upload_resume($event)" accept=".doc,.docx,application/msword,.pdf">
  <div v-if="resume">
    <a v-bind:href="resume" download><button>Download Resume</button></a>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading " role="tab" id="headingOne">
      <h4 class="panel-title ">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="" aria-controls="collapseOne">
          <div class="btn btn-lg btn-block connect">ABOUT {{=user.first_name}}</div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Walter has been building websites for years. He enjoys making unique websites and web projects. His hobbies include photography, woodworking, leatherworking, fishing, and mid century modern furniture.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class="btn btn-lg btn-block connect">SOCIAL</div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Walter has been building websites for years. He enjoys making unique websites and web projects. His hobbies include photography, woodworking, leatherworking, fishing, and mid century modern furniture.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div class="btn btn-lg btn-block connect">CONTACT</div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <form id="form" class="topBefore">

          </form>
		</div>
    </div>
  </div>
</div>

<script src="{{=URL('static', 'js/profile.js')}}"></script>