{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var logged_in_user_email = "{{= None if auth.user is None else auth.user.email}}";
    var add_applicant_url = "{{=URL('api', 'add_applicant', user_signature=True)}}";
    var add_participant_url = "{{=URL('api', 'add_participant', user_signature=True)}}";
    var decline_participant_url = "{{=URL('api', 'decline_participant', user_signature=True)}}";
    var get_participants_url = "{{=URL('api', 'get_participants')}}";
    var get_applicants_url = "{{=URL('api', 'get_applicants')}}";
    var remove_post_url = "{{=URL('api', 'remove_post', user_signature=True)}}";
    var toggle_post_url = "{{=URL('api', 'toggle_post', user_signature=True)}}";

    var post_content = "{{=post.post_content}}";
    var post_title = "{{=post.post_title}}";
    var post_department = "{{=post.post_department}}";
    var post_tags = "{{=post.post_tags}}";
    var post_id = "{{=post.id }}";
    var post_author = "{{=post.post_author}}";
    var can_apply = {{= 'false' if is_applicant is True else 'true'}}
    var post_status = "{{=post.post_status}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    var is_editing = {{='false'}};
</script>
{{end}}
{{ rows = db().select(db.department.ALL) }}

<div id="vue-div" class="display:none">
    <div class="row justify-content-center">
        <div class="col-4 mt-5">
            <div class="card text-justify">
                <div class="card-img-top">
                    <div class="circle justify-content-center">
                        <img class="post-icon" src="{{=URL('static','images/defaultPost.png')}}" alt="">
                    </div>
                </div>

                <div class="card-body" v-if="post_author == logged_in_user_email && is_editing">
                    <h5 class="card-title text-center">
                        {{=post.post_title}}
                    </h5>
                    <ul class="list-group list-group-flush">
                        <i class="list-group-item">{{=post.post_author_name}}</i>
                        <li class="list-group-item">
                            <a href="mailto:{{=post.post_author}}">{{=post.post_author}}</a>
                        </li>
                        <textarea class="list-group-item" v-model="post_content"></textarea>
                        <li class="list-group-item">
                            <select class="form-control" v-model="post_department" id="exampleFormControlSelect1">
                                {{if len(rows):}}
                                {{ for r in rows: }}
                                <option>{{=r.department_name}}</option>
                                {{pass}}
                                {{pass}}
                            </select>
                        </li>
                        <div id="tags_container" class="container form_row">
                        </div>
                        <textarea class="list-group-item" v-model="post_tags"></textarea>
                        <i class="list-group-item">Status: ${post_status}</i>
                    </ul>
                </div>

                <div class="card-body" v-if="!is_editing">
                    <textarea class="card-title text-center" v-model="post_title"></textarea>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{=post.post_author_name}}</li>
                        <li class="list-group-item">
                            <a href="mailto:{{=post.post_author}}">{{=post.post_author}}</a>
                        </li>
                        <li class="list-group-item">{{=post.post_content}}</li>
                        <li class="list-group-item">{{=post.post_department}}</li>
                        <li class="list-group-item">{{=post.post_tags}}</li>
                        <li class="list-group-item">Status: ${post_status}</li>
                    </ul>
                </div>
                <a class="btn" v-if="post_author == logged_in_user_email && is_editing" v-on:click="toggle_edit(); submit_click()">
                    <i class=""></i> Submit
                </a>
                <a class="btn" v-if="post_author == logged_in_user_email && !is_editing" v-on:click="toggle_edit()">
                    <i class=""></i> Edit
                </a>
                <a class="btn" v-if="post_author !== logged_in_user_email && can_apply && !is_editing" v-on:click="add_applicant(post_id)">
                    <i class=""></i> Apply
                </a>
                <a class="btn" v-if="post_author == logged_in_user_email && post_status == 'Closed' && !is_editing"
                    v-on:click="toggle_post(post_id, post_status)">
                    <i class=""></i> Open
                </a>
                <a class="btn" v-if="post_author == logged_in_user_email && post_status == 'Open' && !is_editing"
                    v-on:click="toggle_post(post_id, post_status)">
                    <i class=""></i> Close
                </a>
                <a class="btn" v-if="post_author == logged_in_user_email && !is_editing" href="../main" v-on:click="remove_post(post_id)">
                    <i class=""></i> Remove
                </a>
            </div>

            <div class="participants_box">
                <div>There are ${participants_list.length} participants:</div>
                <div id="participants_list">
                    <div id="participants_container" class="container" v-for="participant in participants_list">
                        <div class="participant">
                            <div class="participant_author">Name:
                                <a v-bind:href="'../profile/' + participant.user_id">${participant.name}</a>
                            </div>
                            <div class="participant_email">Email:
                                <a v-bind:href="'mailto:' + participant.email">${participant.email}</a>
                            </div>
                            <div class="participant options" v-if="post_author === logged_in_user_email">
                                <a class="btn" v-on:click="decline_participant(participant.id)">
                                    <i class=""></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="applicants_box">
                <div>There are ${applicant_list.length} applicants:</div>
                <div id="applicants_list">
                    <div id="applicants_container" class="container" v-for="applicant in applicant_list">
                        <div class="applicant" v-on:click="">
                            <div class="applicant_author">Name:
                                <a v-bind:href="'../profile/' + applicant.user_id">${applicant.name}</a>
                            </div>
                            <div class="applicant_content">Email:
                                <a v-bind:href="'mailto:' + applicant.email">${applicant.email}</a>
                            </div>
                            <div class="applicant options" v-if="post_author === logged_in_user_email">
                                <a class="btn" v-on:click="add_participant(applicant.id)">
                                    <i class=""></i> Accept
                                </a>
                                <a class="btn" v-on:click="decline_participant(applicant.id)">
                                    <i class=""></i> Decline
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/research.js')}}"></script>