{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_search_posts_url = "{{=URL('api', 'get_search_posts')}}";
    // Thumbs callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // Score callback
    var get_score_url = "{{=URL('api', 'get_score')}}"

    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    var is_professor = {{='true' if auth.has_membership(role='professor') else 'false'}};

    var content = "{{=content}}";
    var type = "{{=type}}";

</script>
{{end}}

<div class="col-8 offset-2">
    <div id="vue-div" class="display:none" v-cloak>
        <!-- ELSE SHOW HOME PAGE -->
        <div v-if="is_logged_in">
            <!-- Message in case there are no posts. -->
            <div v-cloak>
            <div v-if="post_list.length === 0">No research opportunities matched the search.</div>
            </div>
            <!-- We display the posts. -->
            <div class = "row" id="post_list">
                <div class="col-4 mt-5" v-for="(post, index) in post_list.slice(0, 15)">
                    <a v-bind:href="'research/' + post.id" style = "text-decoration: none;">
                        <div class = "card text-justify">
                            <div class = "card-img-top">
                                <div class = "circle justify-content-center">
                                <img class = "post-icon" src="{{=URL('static','images/defaultPost.png')}}" alt="">
                                </div>
                            </div> 
                            <div class = "card-body">
                                <h5 class="card-title text-center">
                                    ${post.post_title}
                                </h5>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item">${post.post_content}</li>
                                <li class="list-group-item">${post.post_department}</li>
                                <li class="list-group-item">${post.post_tags}</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END ELSE SHOW HOME PAGE -->
    </div>
</div>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<script src="{{=URL('static', 'js/search.js')}}"></script>
    