{{extend 'layout.html'}}

<div class="container onboard">
    <div class="container third" style="text-align: right;">
            <img src="{{=URL('static', 'images', args='Logo.png')}}"/>
            <div class = "half" style= "padding-right: 0px">
                <h2 class = "logo">
                    Research <br>Connect
                </h2>
            </div>
    </div>
    <div class="third container">
        <div class="divider">
        </div>
        <div class = "onboard_form threequarters">
            <div id="web2py_user_form" class="col-lg-6" style="padding-left: 20px;">
                {{form=auth.login()}}
                {{=form.custom.begin}}
                Email:
                {{=form.custom.widget.email}}
                </br>
                Password:
                {{=form.custom.widget.password}}
                {{=form.custom.submit}}
                {{=form.custom.end}}
            </div>
        </div>
    </div>
</div>


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
