*.pyc
!/web2py/.gitignore
!/web2py/routes.py
!/web2py/README
/web2py/applications/*/cache/*
/web2py/applications/*/databases/*
/web2py/applications/*/errors/
/web2py/applications/*/sessions/
/web2py/applications/*/private/
/web2py/applications/*/uploads/*
/web2py/applications/*/.hg/
/web2py/applications/*/.git/
!/web2py/applications/
 
.DS_Store
 
### To include only specific apps, uncomment:
#/applications/*
#!/applications/{myapp}/