/* line 19, ../sass/_main.scss */
.post {
  color: #2a363f;
  display: block;
  line-height: 1.5em;
}
/* line 24, ../sass/_main.scss */
.post .card-title .title-box {
  height: 35px;
  border-radius: 5px;
  background-color: #67c896;
  color: white;
}
/* line 30, ../sass/_main.scss */
.post .card-title .author {
  font-size: 15px;
}
/* line 34, ../sass/_main.scss */
.post .description {
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* line 41, ../sass/_main.scss */
.post .department {
  display: inline-block;
  height: 35px;
  border-radius: 5px;
  background-color: #4C866E;
  color: white;
}

/* line 51, ../sass/_main.scss */
.label-info {
  background-color: #67c896;
}

/* line 55, ../sass/_main.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 68, ../sass/_main.scss */
::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}

/* line 69, ../sass/_main.scss */
:-moz-placeholder {
  color: white;
  font-weight: 100;
}

/* line 70, ../sass/_main.scss */
::-moz-placeholder {
  color: white;
  font-weight: 100;
}

/* line 71, ../sass/_main.scss */
:-ms-input-placeholder {
  color: white;
  font-weight: 100;
}

<<<<<<< HEAD
/* line 78, ../sass/_main.scss */
select.form-control {
  max-height: 200px !important;
}

/* line 81, ../sass/_main.scss */
=======
/* line 79, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.post-btn {
  border-radius: 5px;
  background-color: #4C866E;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
/* line 89, ../sass/_main.scss */
=======
/* line 87, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.post-btn:hover {
  background-color: #3B5E56;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white !important;
}

<<<<<<< HEAD
/* line 96, ../sass/_main.scss */
=======
/* line 94, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.nav-btn-box {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background-color: #4C866E;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
/* line 106, ../sass/_main.scss */
=======
/* line 104, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.nav-btn-box:hover {
  background-color: #3B5E56;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white !important;
}

<<<<<<< HEAD
/* line 114, ../sass/_main.scss */
=======
/* line 112, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.circle {
  border-radius: 50%;
  width: 165px;
  height: 165px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -35px auto 0;
  z-index: 1;
}
<<<<<<< HEAD
/* line 124, ../sass/_main.scss */
=======
/* line 122, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.circle img.post-icon {
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

<<<<<<< HEAD
/* line 143, ../sass/_main.scss */
=======
/* line 141, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
a.link {
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
}
<<<<<<< HEAD
/* line 147, ../sass/_main.scss */
=======
/* line 145, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
a.link:hover {
  text-decoration: underline !important;
  color: #67c896;
}

<<<<<<< HEAD
/* line 153, ../sass/_main.scss */
=======
/* line 151, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
/* line 160, ../sass/_main.scss */
=======
/* line 158, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.colorful {
  color: #bb8833;
}

<<<<<<< HEAD
/* line 164, ../sass/_main.scss */
=======
/* line 162, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.black {
  background-color: #363b41;
  color: #ffffff;
}

<<<<<<< HEAD
/* line 169, ../sass/_main.scss */
=======
/* line 167, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
label {
  display: inline-block;
}

<<<<<<< HEAD
/* line 175, ../sass/_main.scss */
=======
/* line 173, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}

<<<<<<< HEAD
/* line 178, ../sass/_main.scss */
=======
/* line 176, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.fade-enter, .fade-leave-to {
  opacity: 0;
}

<<<<<<< HEAD
/* line 183, ../sass/_main.scss */
=======
/* line 181, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
body {
  font-family: "Open Sans", sans-serif;
}

<<<<<<< HEAD
/* line 187, ../sass/_main.scss */
=======
/* line 185, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
body.main {
  background-color: #2a363f;
  color: #fff;
}

<<<<<<< HEAD
/* line 192, ../sass/_main.scss */
=======
/* line 190, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
h2 {
  font-family: "Open Sans", Arial, sans-serif;
}

<<<<<<< HEAD
/* line 198, ../sass/_main.scss */
=======
/* line 196, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
header.top {
  background-color: #67c896;
  height: 70px;
}

<<<<<<< HEAD
/* line 203, ../sass/_main.scss */
=======
/* line 201, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
a.dropdown-toggle::after {
  display: none;
}

<<<<<<< HEAD
/* line 207, ../sass/_main.scss */
=======
/* line 205, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
ul.web2py-menu-vertical {
  list-style-type: none;
  margin: 0 0 0 0;
}

<<<<<<< HEAD
/* line 212, ../sass/_main.scss */
.search-bar {
  font-family: "Open Sans", Arial, sans-serif;
}
/* line 214, ../sass/_main.scss */
=======
/* line 210, ../sass/_main.scss */
.search-bar {
  font-family: "Open Sans", Arial, sans-serif;
}
/* line 212, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.search-bar input {
  background: #4C866E;
  color: #ffffff;
  border: 0px;
  border-radius: 0px;
}
<<<<<<< HEAD
/* line 220, ../sass/_main.scss */
.search-bar i {
  color: #4C866E;
}
/* line 223, ../sass/_main.scss */
=======
/* line 218, ../sass/_main.scss */
.search-bar i {
  color: #4C866E;
}
/* line 221, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.search-bar button {
  background: #3B5E56;
  border-radius: 0px;
  border: 0px;
}
<<<<<<< HEAD
/* line 228, ../sass/_main.scss */
=======
/* line 226, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.search-bar a {
  background: #ffffff;
}
/* line 68, ../sass/_main.scss */
.search-bar ::-webkit-input-placeholder {
  color: white;
}
/* line 69, ../sass/_main.scss */
.search-bar :-moz-placeholder {
  color: white;
}
/* line 70, ../sass/_main.scss */
.search-bar ::-moz-placeholder {
  color: white;
}
/* line 71, ../sass/_main.scss */
.search-bar :-ms-input-placeholder {
  color: white;
}

<<<<<<< HEAD
/* line 238, ../sass/_main.scss */
=======
/* line 236, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.onboard {
  margin-top: 200px;
}

<<<<<<< HEAD
/* line 242, ../sass/_main.scss */
=======
/* line 240, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.divider {
  width: 2px;
  height: 360px;
  background-color: #39444c;
}

<<<<<<< HEAD
/* line 248, ../sass/_main.scss */
=======
/* line 246, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
h2.logo {
  font-size: 24px;
  margin-top: 50px;
  text-align: left;
  margin-left: 20px;
}

<<<<<<< HEAD
/* line 255, ../sass/_main.scss */
=======
/* line 253, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.big_logo {
  margin: 70px auto;
  padding: 15px;
}

<<<<<<< HEAD
/* line 260, ../sass/_main.scss */
=======
/* line 258, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
h2.logo_text {
  margin-top: 40px;
  overflow: ellipse;
  font-size: 2em;
  text-overflow: ellipsis;
}

<<<<<<< HEAD
/* line 269, ../sass/_main.scss */
=======
/* line 267, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.connect {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: #67c896;
  margin-bottom: 10px;
  background: #67c896;
}
<<<<<<< HEAD
/* line 134, ../sass/_main.scss */
=======
/* line 132, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.connect:hover {
  background: #49bd81;
  transition: all 0.3s ease;
}
<<<<<<< HEAD
/* line 138, ../sass/_main.scss */
=======
/* line 136, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.connect:active {
  background: #2f8156;
}

<<<<<<< HEAD
/* line 280, ../sass/_main.scss */
=======
/* line 278, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.closed {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: #7A7F84;
  margin-bottom: 10px;
  background: #7A7F84;
}
<<<<<<< HEAD
/* line 134, ../sass/_main.scss */
=======
/* line 132, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.closed:hover {
  background: #666b6f;
  transition: all 0.3s ease;
}
<<<<<<< HEAD
/* line 138, ../sass/_main.scss */
=======
/* line 136, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
button.closed:active {
  background: #3d3f42;
}

<<<<<<< HEAD
/* line 291, ../sass/_main.scss */
=======
/* line 289, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login {
  margin: auto;
  background-color: #3A454D;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

<<<<<<< HEAD
/* line 301, ../sass/_main.scss */
=======
/* line 299, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login form {
  width: 100%;
  min-width: 300px;
  margin: auto;
}

<<<<<<< HEAD
/* line 307, ../sass/_main.scss */
=======
/* line 305, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login form span {
  background-color: #687178;
  border-right: 3px solid #434a52;
  color: #C4C4C4;
  line-height: 50px;
  text-align: center;
}

<<<<<<< HEAD
/* line 316, ../sass/_main.scss */
=======
/* line 314, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login .icon {
  border-radius: 3px 0px 0px 3px;
  border: 0px;
  width: 50px;
  height: 50px;
}

<<<<<<< HEAD
/* line 323, ../sass/_main.scss */
=======
/* line 321, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login .append-text {
  border-radius: 0px 3px 3px 0px;
  border: 0px;
  font-size: 0.75rem;
  height: 50px;
}

<<<<<<< HEAD
/* line 329, ../sass/_main.scss */
=======
/* line 328, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login input {
  border: 0;
}

<<<<<<< HEAD
/* line 333, ../sass/_main.scss */
=======
/* line 332, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login form input[type="text"], input[type="password"] {
  background-color: #4D575E;
  border-radius: 0px 3px 3px 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  height: 50px;
}
<<<<<<< HEAD
/* line 342, ../sass/_main.scss */
=======
/* line 341, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.login form input[type="text"]:focus, input[type="password"]:focus {
  background-color: white;
  color: #2a363f;
}

<<<<<<< HEAD
/* line 348, ../sass/_main.scss */
=======
/* line 347, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.form-dark {
  background-color: #4D575E;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
<<<<<<< HEAD
/* line 358, ../sass/_main.scss */
=======
/* line 357, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.form-dark:focus {
  background-color: white;
  color: #2a363f;
}

<<<<<<< HEAD
/* line 365, ../sass/_main.scss */
=======
/* line 364, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
textarea.form-dark {
  padding-top: 16px;
  border-color: rgba(255, 255, 255, 0);
}

<<<<<<< HEAD
/* line 370, ../sass/_main.scss */
=======
/* line 369, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.clear-border {
  border-color: rgba(255, 255, 255, 0);
}

<<<<<<< HEAD
/* line 374, ../sass/_main.scss */
=======
/* line 373, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.bootstrap-tagsinput {
  background-color: #4D575E;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  width: 100%;
  border-color: rgba(255, 255, 255, 0);
}
<<<<<<< HEAD
/* line 381, ../sass/_main.scss */
=======
/* line 380, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.bootstrap-tagsinput:focus {
  background-color: white;
  color: #2a363f;
}
/* line 68, ../sass/_main.scss */
.bootstrap-tagsinput ::-webkit-input-placeholder {
  color: #7A7F84;
}
/* line 69, ../sass/_main.scss */
.bootstrap-tagsinput :-moz-placeholder {
  color: #7A7F84;
}
/* line 70, ../sass/_main.scss */
.bootstrap-tagsinput ::-moz-placeholder {
  color: #7A7F84;
}
/* line 71, ../sass/_main.scss */
.bootstrap-tagsinput :-ms-input-placeholder {
  color: #7A7F84;
}
<<<<<<< HEAD
/* line 389, ../sass/_main.scss */
=======
/* line 388, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.bootstrap-tagsinput input {
  color: white;
  width: 80px;
}

<<<<<<< HEAD
/* line 397, ../sass/_main.scss */
=======
/* line 396, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.register_line {
  height: 3px;
  background-color: #4D575E;
  margin-top: 20px;
}

<<<<<<< HEAD
/* line 403, ../sass/_main.scss */
=======
/* line 402, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.signup_form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}

<<<<<<< HEAD
/* line 413, ../sass/_main.scss */
=======
/* line 412, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a363f;
  max-width: 400px;
}

<<<<<<< HEAD
/* line 424, ../sass/_main.scss */
=======
/* line 423, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}

<<<<<<< HEAD
/* line 429, ../sass/_main.scss */
=======
/* line 428, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.post_div {
  border: 1px black solid;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
<<<<<<< HEAD
/* line 434, ../sass/_main.scss */
=======
/* line 433, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
div.post_div .post_title {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

<<<<<<< HEAD
/* line 447, ../sass/_main.scss */
=======
/* line 446, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
i {
  cursor: pointer;
}

<<<<<<< HEAD
/* line 451, ../sass/_main.scss */
=======
/* line 450, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
i.changed {
  color: #777777;
}

<<<<<<< HEAD
/* line 455, ../sass/_main.scss */
=======
/* line 454, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
span.likers_list {
  color: #7777cc;
}

<<<<<<< HEAD
/* line 459, ../sass/_main.scss */
=======
/* line 458, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.section-header {
  position: relative;
  text-align: center;
}

<<<<<<< HEAD
/* line 464, ../sass/_main.scss */
=======
/* line 463, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.section-header:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #dddddd;
}

<<<<<<< HEAD
/* line 479, ../sass/_main.scss */
=======
/* line 478, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.section-header__title {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background: #67c896;
  display: inline-block;
  color: #174750;
}

<<<<<<< HEAD
/* line 494, ../sass/_main.scss */
=======
/* line 493, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.section-header__subtitle {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background: #eeeeee;
  display: inline-block;
  color: #174750;
}

<<<<<<< HEAD
/* line 509, ../sass/_main.scss */
=======
/* line 508, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.section-header__container {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  text-transform: uppercase;
  background: #67c896;
}

<<<<<<< HEAD
/* line 520, ../sass/_main.scss */
=======
/* line 519, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.text {
  font-family: raleway;
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: #000;
  margin-top: 43px;
}

<<<<<<< HEAD
/* line 530, ../sass/_main.scss */
=======
/* line 529, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.text1 {
  font-family: raleway;
  font-size: 21px;
  text-align: center;
  margin-top: -20px;
  color: #000;
}

<<<<<<< HEAD
/* line 538, ../sass/_main.scss */
=======
/* line 537, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 0 1px #eee;
  background-color: white;
  background: url("https://image.flaticon.com/icons/svg/64/64572.svg") center center no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 548, ../sass/_main.scss */
=======
/* line 554, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

<<<<<<< HEAD
/* line 555, ../sass/_main.scss */
=======
/* line 561, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}

<<<<<<< HEAD
/* line 564, ../sass/_main.scss */
=======
/* line 570, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

<<<<<<< HEAD
/* line 569, ../sass/_main.scss */
=======
/* line 575, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

<<<<<<< HEAD
/* line 578, ../sass/_main.scss */
=======
/* line 584, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
#box:hover #overlay {
  opacity: 1;
}

<<<<<<< HEAD
/* line 583, ../sass/_main.scss */
=======
/* line 589, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.panel-group {
  width: 350px;
  margin: auto;
  max-width: 100%;
}

<<<<<<< HEAD
/* line 589, ../sass/_main.scss */
=======
/* line 595, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.panel-heading {
  background-color: transparent !important;
}

<<<<<<< HEAD
/* line 593, ../sass/_main.scss */
=======
/* line 599, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
.title {
  text-align: center;
  background-color: transparent;
  color: #000;
  font-family: lato;
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
}

<<<<<<< HEAD
/* line 603, ../sass/_main.scss */
=======
/* line 609, ../sass/_main.scss */
>>>>>>> 4c0faeb8e416aa84025bc6a3faeee0299933c1cd
#accordion {
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 200px;
}
