/* line 19, ../sass/_main.scss */
.post {
  color: #2a363f;
  display: block;
  line-height: 1.5em;
}
/* line 24, ../sass/_main.scss */
.post .card-title .title-box {
  height: 35px;
  border-radius: 5px;
  background-color: #67c896;
  color: white;
}
/* line 30, ../sass/_main.scss */
.post .card-title .author {
  font-size: 15px;
}
/* line 34, ../sass/_main.scss */
.post .description {
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* line 41, ../sass/_main.scss */
.post .department {
  display: inline-block;
  height: 35px;
  border-radius: 5px;
  background-color: #4C866E;
  color: white;
}

/* line 51, ../sass/_main.scss */
.label-info {
  background-color: #67c896;
}

/* line 55, ../sass/_main.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 68, ../sass/_main.scss */
::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}

/* line 69, ../sass/_main.scss */
:-moz-placeholder {
  color: white;
  font-weight: 100;
}

/* line 70, ../sass/_main.scss */
::-moz-placeholder {
  color: white;
  font-weight: 100;
}

/* line 71, ../sass/_main.scss */
:-ms-input-placeholder {
  color: white;
  font-weight: 100;
}

/* line 79, ../sass/_main.scss */
.post-btn {
  border-radius: 5px;
  background-color: #4C866E;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 87, ../sass/_main.scss */
.post-btn:hover {
  background-color: #3B5E56;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white !important;
}

/* line 94, ../sass/_main.scss */
.nav-btn-box {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background-color: #4C866E;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 104, ../sass/_main.scss */
.nav-btn-box:hover {
  background-color: #3B5E56;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white !important;
}

/* line 112, ../sass/_main.scss */
.circle {
  border-radius: 50%;
  width: 165px;
  height: 165px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -35px auto 0;
  z-index: 1;
}
/* line 122, ../sass/_main.scss */
.circle img.post-icon {
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* line 141, ../sass/_main.scss */
a.link {
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
}
/* line 145, ../sass/_main.scss */
a.link:hover {
  text-decoration: underline !important;
  color: #67c896;
}

/* line 151, ../sass/_main.scss */
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* line 158, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 162, ../sass/_main.scss */
.black {
  background-color: #363b41;
  color: #ffffff;
}

/* line 167, ../sass/_main.scss */
label {
  display: inline-block;
}

/* line 173, ../sass/_main.scss */
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}

/* line 176, ../sass/_main.scss */
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* line 181, ../sass/_main.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 185, ../sass/_main.scss */
body.main {
  background-color: #2a363f;
  color: #fff;
}

/* line 190, ../sass/_main.scss */
h2 {
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 196, ../sass/_main.scss */
header.top {
  background-color: #67c896;
  height: 70px;
}

/* line 201, ../sass/_main.scss */
a.dropdown-toggle::after {
  display: none;
}

/* line 205, ../sass/_main.scss */
ul.web2py-menu-vertical {
  list-style-type: none;
  margin: 0 0 0 0;
}

/* line 210, ../sass/_main.scss */
.search-bar {
  font-family: "Open Sans", Arial, sans-serif;
}
/* line 212, ../sass/_main.scss */
.search-bar input {
  background: #4C866E;
  color: #ffffff;
  border: 0px;
  border-radius: 0px;
}
/* line 218, ../sass/_main.scss */
.search-bar i {
  color: #4C866E;
}
/* line 221, ../sass/_main.scss */
.search-bar button {
  background: #3B5E56;
  border-radius: 0px;
  border: 0px;
}
/* line 226, ../sass/_main.scss */
.search-bar a {
  background: #ffffff;
}
/* line 68, ../sass/_main.scss */
.search-bar ::-webkit-input-placeholder {
  color: white;
}
/* line 69, ../sass/_main.scss */
.search-bar :-moz-placeholder {
  color: white;
}
/* line 70, ../sass/_main.scss */
.search-bar ::-moz-placeholder {
  color: white;
}
/* line 71, ../sass/_main.scss */
.search-bar :-ms-input-placeholder {
  color: white;
}

/* line 236, ../sass/_main.scss */
div.onboard {
  margin-top: 200px;
}

/* line 240, ../sass/_main.scss */
div.divider {
  width: 2px;
  height: 360px;
  background-color: #39444c;
}

/* line 246, ../sass/_main.scss */
h2.logo {
  font-size: 24px;
  margin-top: 50px;
  text-align: left;
  margin-left: 20px;
}

/* line 253, ../sass/_main.scss */
.big_logo {
  margin: 70px auto;
  padding: 15px;
}

/* line 258, ../sass/_main.scss */
h2.logo_text {
  margin-top: 40px;
  overflow: ellipse;
  font-size: 2em;
  text-overflow: ellipsis;
}

/* line 267, ../sass/_main.scss */
button.connect {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: #67c896;
  margin-bottom: 10px;
  background: #67c896;
}
/* line 132, ../sass/_main.scss */
button.connect:hover {
  background: #49bd81;
  transition: all 0.3s ease;
}
/* line 136, ../sass/_main.scss */
button.connect:active {
  background: #2f8156;
}

/* line 278, ../sass/_main.scss */
button.closed {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: #7A7F84;
  margin-bottom: 10px;
  background: #7A7F84;
}
/* line 132, ../sass/_main.scss */
button.closed:hover {
  background: #666b6f;
  transition: all 0.3s ease;
}
/* line 136, ../sass/_main.scss */
button.closed:active {
  background: #3d3f42;
}

/* line 289, ../sass/_main.scss */
.login {
  margin: auto;
  background-color: #3A454D;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

/* line 299, ../sass/_main.scss */
.login form {
  width: 100%;
  min-width: 300px;
  margin: auto;
}

/* line 305, ../sass/_main.scss */
.login form span {
  background-color: #687178;
  border-right: 3px solid #434a52;
  color: #C4C4C4;
  line-height: 50px;
  text-align: center;
}

/* line 314, ../sass/_main.scss */
.login .icon {
  border-radius: 3px 0px 0px 3px;
  border: 0px;
  width: 50px;
  height: 50px;
}

/* line 321, ../sass/_main.scss */
.login .append-text {
  border-radius: 0px 3px 3px 0px;
  border: 0px;
  font-size: 0.75rem;
  height: 50px;
}

/* line 328, ../sass/_main.scss */
.login input {
  border: 0;
}

/* line 332, ../sass/_main.scss */
.login form input[type="text"], input[type="password"] {
  background-color: #4D575E;
  border-radius: 0px 3px 3px 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  height: 50px;
}
/* line 341, ../sass/_main.scss */
.login form input[type="text"]:focus, input[type="password"]:focus {
  background-color: white;
  color: #2a363f;
}

/* line 347, ../sass/_main.scss */
.form-dark {
  background-color: #4D575E;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 357, ../sass/_main.scss */
.form-dark:focus {
  background-color: white;
  color: #2a363f;
}

/* line 364, ../sass/_main.scss */
textarea.form-dark {
  padding-top: 16px;
  border-color: rgba(255, 255, 255, 0);
}

/* line 369, ../sass/_main.scss */
.clear-border {
  border-color: rgba(255, 255, 255, 0);
}

/* line 373, ../sass/_main.scss */
.bootstrap-tagsinput {
  background-color: #4D575E;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  width: 100%;
  border-color: rgba(255, 255, 255, 0);
}
/* line 380, ../sass/_main.scss */
.bootstrap-tagsinput:focus {
  background-color: white;
  color: #2a363f;
}
/* line 68, ../sass/_main.scss */
.bootstrap-tagsinput ::-webkit-input-placeholder {
  color: #7A7F84;
}
/* line 69, ../sass/_main.scss */
.bootstrap-tagsinput :-moz-placeholder {
  color: #7A7F84;
}
/* line 70, ../sass/_main.scss */
.bootstrap-tagsinput ::-moz-placeholder {
  color: #7A7F84;
}
/* line 71, ../sass/_main.scss */
.bootstrap-tagsinput :-ms-input-placeholder {
  color: #7A7F84;
}
/* line 388, ../sass/_main.scss */
.bootstrap-tagsinput input {
  color: white;
  width: 80px;
}

/* line 396, ../sass/_main.scss */
div.register_line {
  height: 3px;
  background-color: #4D575E;
  margin-top: 20px;
}

/* line 402, ../sass/_main.scss */
div.signup_form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}

/* line 412, ../sass/_main.scss */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a363f;
  max-width: 400px;
}

/* line 423, ../sass/_main.scss */
div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* line 428, ../sass/_main.scss */
div.post_div {
  border: 1px black solid;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
/* line 433, ../sass/_main.scss */
div.post_div .post_title {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

/* line 446, ../sass/_main.scss */
i {
  cursor: pointer;
}

/* line 450, ../sass/_main.scss */
i.changed {
  color: #777777;
}

/* line 454, ../sass/_main.scss */
span.likers_list {
  color: #7777cc;
}

/* line 458, ../sass/_main.scss */
.section-header {
  position: relative;
  text-align: center;
}

/* line 463, ../sass/_main.scss */
.section-header:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #dddddd;
}

/* line 478, ../sass/_main.scss */
.section-header__title {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background: #67c896;
  display: inline-block;
  color: #174750;
}

/* line 493, ../sass/_main.scss */
.section-header__subtitle {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background: #eeeeee;
  display: inline-block;
  color: #174750;
}

/* line 508, ../sass/_main.scss */
.section-header__container {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  text-transform: uppercase;
  background: #67c896;
}

/* line 519, ../sass/_main.scss */
.text {
  font-family: raleway;
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: #000;
  margin-top: 43px;
}

/* line 529, ../sass/_main.scss */
.text1 {
  font-family: raleway;
  font-size: 21px;
  text-align: center;
  margin-top: -20px;
  color: #000;
}

/* line 537, ../sass/_main.scss */
.image {
  text-align: center;
  width: 200px;
  /* Container's dimensions */
  height: 200px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: url("https://images.unsplash.com/reserve/ysPfhVSzSP2m629CW0mw_selfPortrait.jpg?fit=crop&fm=jpg&h=700&q=80&w=1225") center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
}

/* line 554, ../sass/_main.scss */
.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

/* line 561, ../sass/_main.scss */
.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}

/* line 570, ../sass/_main.scss */
.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 575, ../sass/_main.scss */
#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

/* line 584, ../sass/_main.scss */
#box:hover #overlay {
  opacity: 1;
}

/* line 589, ../sass/_main.scss */
.panel-group {
  width: 350px;
  margin: auto;
  max-width: 100%;
}

/* line 595, ../sass/_main.scss */
.panel-heading {
  background-color: transparent !important;
}

/* line 599, ../sass/_main.scss */
.title {
  text-align: center;
  background-color: transparent;
  color: #000;
  font-family: lato;
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
}

/* line 609, ../sass/_main.scss */
#accordion {
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 200px;
}
