$dark: #2a363f;
$primary: #67c896;
$white: #ffffff;
$loginInputBackground: #4D575E;
$loginBackground: #3A454D;
$loginIconColor: #C4C4C4;
$loginIconBackground: #687178;

// temp 2683c1
// tempdark 1b5d89
$loginPHColor: #7A7F84;
$searchBarBackground: #4C866E;
$searchbarspanBackground: #3B5E56;



// Buttons, Links, Etc

.post {
  color: $dark;
  display: block;
  line-height: 1.5em;
  .card-title {
    .title-box {
      height:35px;
      border-radius: 5px;
      background-color: $primary;
      color: white;
    }
    .author {
      font-size: 15px;
    }
  }
  .description {
    height: 6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
  }
  .department {
    display: inline-block;
    height:35px;
    border-radius: 5px;
    background-color: $searchBarBackground;
    color: white;
  }
}

.label-info {
  background-color: $primary;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: white;
    font-weight:100;
}

.nav-btn-box {
  border-radius: 5px;
  height:50px;
  width:50px;
  background-color: $searchBarBackground;
  color: white;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  &:hover {
    background-color: $searchbarspanBackground;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white !important;
  }
}

.circle{
  border-radius: 50%;
  width: 165px;
  height: 165px;
  background-color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: -35px auto 0;
  z-index: 1;
  img.post-icon {
    border: 2px solid white; 
    border-radius: 50%; 
    width:150px; 
    height:150px;
  }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

a.link {
  cursor: pointer;
  color: $white;
  font-size: 12px;
  &:hover {
    text-decoration: underline !important;
    color: $primary;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.colorful {
  color: $clrHilight;
}

.black{
    background-color: #363b41;
    color: #ffffff;
}

label {
  display: inline-block;
}

// Transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

// Layout Elements
body {
  font-family: "Open Sans", sans-serif;
}

body.main {
  background-color: $dark;
  color: #fff;
}

h2 {
  font-family: "Open Sans", Arial, sans-serif;
}

// Nav Bar

header.top {
  background-color: $primary;
  height: 70px;
}

a.dropdown-toggle::after{
    display: none;
}

ul.web2py-menu-vertical {
  list-style-type: none;
  margin: 0 0 0 0;
}

.search-bar{
  font-family: "Open Sans", Arial, sans-serif;
  input{
    background:$searchBarBackground;
    color: $white;
    border: 0px;
    border-radius: 0px;
  }
  i{
    color: $searchBarBackground;
  }
  button{
    background: $searchbarspanBackground;
    border-radius: 0px;
    border: 0px;
  }
  a{
    background: $white;
  }
  @include placeholder {
    color: white;
  }
}

// Onboard

div.onboard {
  margin-top: 200px;
}

div.divider {
  width: 2px;
  height: 360px;
  background-color: #39444c;
}

h2.logo {
  font-size: 24px;
  margin-top: 50px;
  text-align: left;
  margin-left: 20px;
}

.big_logo {
  margin: 70px auto;
  padding: 15px;
}

h2.logo_text {
  margin-top: 40px;
  overflow: ellipse;
  font-size: 2em;
  text-overflow: ellipsis;
}

// Login 

button.connect {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: $primary;
  margin-bottom: 10px;
  @include button-bg($primary);
}

button.closed {
  font-family: "Open Sans", Arial, sans-serif !important;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase !important;
  background: $loginPHColor;
  margin-bottom: 10px;
  @include button-bg($loginPHColor);
}

.login {
  margin: auto;
  background-color: $loginBackground;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

.login form {
  width: 100%;
  min-width: 300px;
  margin: auto;
}

.login form span {
  background-color: $loginIconBackground;
  border-radius: 3px 0px 0px 3px;
  border: 0px;
  border-right: 3px solid #434a52;
  color: $loginIconColor;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.login input {
  border: 0;
}

.login form input[type="text"], input[type="password"] {
  background-color: $loginInputBackground;
  border-radius: 0px 3px 3px 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
  &:focus {
    background-color: white;
    color: $dark;
  }
}

.form-dark {
  background-color: $loginInputBackground;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
  &:focus {
    background-color: white;
    color: $dark;
  }

}

textarea.form-dark {
  padding-top: 16px;
  border-color: rgba(255, 255, 255, 0);
}

.clear-border {
  border-color: rgba(255, 255, 255, 0);
}

.bootstrap-tagsinput {
  background-color: $loginInputBackground;
  border-radius: 3px 3px 3px 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  width: 100%;
  &:focus {
    background-color: white;
    color: $dark;
  }
  border-color: rgba(255, 255, 255, 0);
  @include placeholder {
    color: $loginPHColor;
  }
  input {
    color: white;
    width: 80px;
  }
}

// Signup 

div.register_line {
  height: 3px;
  background-color: $loginInputBackground;
  margin-top: 20px;
}

div.signup_form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark;
  max-width: 400px;
}


// Posts 
div.form_row {
    margin-top: 8px;
    margin-bottom: 8px;
  }

div.post_div {
  border: 1px black solid;
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  .post_title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
  }

  .post_content {
  }

  .attributes {
  }
}

i {
  cursor: pointer;
}

i.changed {
  color: $clrUnconfirmed;
}

span.likers_list {
  color: $clrLikerList;
}

.section-header {
  position: relative;
  text-align: center;
}

.section-header:before {
  content: "";
  z-index: 1;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: 1px;

  background: #dddddd;
}

.section-header__title {
  position: relative;
  z-index: 2;

  padding: 5px 20px;

  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background: $primary;
  display: inline-block;

  color: #174750;
}

.section-header__subtitle {
  position: relative;
  z-index: 2;

  padding: 5px 20px;

  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background: #eeeeee;
  display: inline-block;

  color: #174750;
}

.section-header__container {
  position: relative;
  z-index: 2;

  padding: 5px 20px;

  text-transform: uppercase;
  background: $primary;
}

// Profile
.text {
  font-family: raleway;
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: #000;
  margin-top: 43px;
}

.text1 {
  font-family: raleway;
  font-size: 21px;
  text-align: center;
  margin-top: -20px;
  color: #000;
}

.image {
  text-align: center;
  width: 200px;
  /* Container's dimensions */
  height: 200px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: url("https://images.unsplash.com/reserve/ysPfhVSzSP2m629CW0mw_selfPortrait.jpg?fit=crop&fm=jpg&h=700&q=80&w=1225") center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
}


.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}


.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}



.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
  opacity: 1;
}


.panel-group{
  width:350px;
  margin:auto;
  max-width:100%;
}

.panel-heading{
  background-color:transparent !important;
}

.title{
  text-align: center;
  background-color:transparent;
  color:#000;
  font-family:lato;
  font-weight:300;
  font-size:15px;
  max-width:100%;
}

#accordion{
  background-color: transparent;
  max-width:100%;
  margin-bottom:200px;
}
